{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'script.js' %}" defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    
    <title>Javascript</title>
</head>
<body style="background-color: blueviolet;">
    <div class="accordion">

        <div class="content-box">
            <div class="label">
                <span>
                    Activities
                </span>
                <button class="up">
                    up
                </button>
                <button class="down">
                    down
                </button>
            </div>
            <div class="content">
                <p>A lot of work and workouts</p>
            </div>
        </div>

        <div class="content-box">
            <div class="label">
                <span>
                    Work Experience
                </span>
                <button class="up">
                    up
                </button>
                <button class="down">
                    down
                </button>
            </div>
            <div class="content">
                <p>Mentor for DDP0</p>
            </div>
        </div>

        <div class="content-box">
            <div class="label">
                <span>
                    Achievements
                </span>
                <button class="up">
                    up
                </button>
                <button class="down">
                    down
                </button>
            </div>
            <div class="content">
                <p>1st place in english story telling in junior highschool level</p>
            </div>
        </div>

        <div class="content-box">
            <div class="label">
                <span>
                    Hobbies
                </span>
                <button class="up">
                    up
                </button>
                <button class="down">
                    down
                </button>
            </div>
            <div class="content">
                <p>
                    <li>Cooking</li>
                    <li>Table Tennis</li>
                    <li>Business</li>
                </p>               
            </div>
        </div>

    </div>
</body>
</html>