.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accordion .content-box {
    width: 50%;
    position: relative;
    margin: 10px 20px;
}

.accordion .content-box .label {
    position: relative;
    padding: 10px;
    background: purple;
    color: white;
}


.accordion .content-box .label::before {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .content-box .content {
    position: relative;
    background: white;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .content-box .content.active {
    height: auto;
    padding: 10px;
}
